server {
  server_name de.v;

  root        /var/www;
  index       app.php index.php;
  access_log /var/www/access.log;
  error_log /var/www/error.log debug;


  location ~ ^/b(/.*)$ {   
    try_files /b/web$1 @b;
  }
  location ~ ^/a(/.*)$ {
    try_files /a/web$1 @a;
  }
  location @a {
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root/a/web/app_dev.php;
    fastcgi_param SCRIPT_NAME       /a/app_dev.php;
    fastcgi_param REQUEST_URI       /a$1;
  }
  location @b {
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root/b/web/app_dev.php;   
    fastcgi_param SCRIPT_NAME       /b/app_dev.php;       
    fastcgi_param REQUEST_URI       /b$1;     
  }

}
